.inner{
	height: 100vh;
	/*background-color: gold;*/
}
.logo{
	height: 10%;
	/*background-color: lime;*/
}
.name{
	height: 10%;
	/*background-color: cyan;*/
}
.line_items, .links{
	height: 10%;
}
.logo, .name, .navi{
	border: 1px solid black;
	width: 100%;
}
.r_left{
	height: 100%;
}
.navi{
height: 100%;
/*background-color: green;*/
}
.item{
	/*background-color: yellow;*/
	display: inline-block;
	border: 1px solid black;
	width: 14.28%;
	height: 5vh;
	margin-top: 3vh;
	margin-right: 0;
	margin-left: -1vh;
}
img{
	height: 15vh;
	width: 100%;
}
